workflows/vapi-reminder-scheduler.json
{
  "name": "Vapi AI Receptionist - 24h Reminder Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "22222222-0001-0001-0001-000000000001",
      "name": "Every Hour Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const tz = $env.BUSINESS_TIMEZONE || 'America/New_York';\nconst now = new Date();\nconst windowStart = new Date(now.getTime() + 23 * 60 * 60 * 1000);\nconst windowEnd = new Date(now.getTime() + 25 * 60 * 60 * 1000);\n\nreturn [{\n  json: {\n    windowStart: windowStart.toISOString(),\n    windowEnd: windowEnd.toISOString(),\n    timezone: tz\n  }\n}];"
      },
      "id": "22222222-0002-0002-0002-000000000002",
      "name": "Set Reminder Window",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}",
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.windowStart }}",
          "timeMax": "={{ $json.windowEnd }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "22222222-0003-0003-0003-000000000003",
      "name": "Get Upcoming Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst needsReminder = items.filter(item => {\n  const desc = item.json.description || '';\n  return !desc.includes('[REMINDER_SENT]');\n});\n\nif (needsReminder.length === 0) {\n  return [];\n}\n\nreturn needsReminder.map(item => ({ json: item.json }));"
      },
      "id": "22222222-0004-0004-0004-000000000004",
      "name": "Filter Unsent Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "const event = $json;\nconst tz = $env.BUSINESS_TIMEZONE || 'America/New_York';\nconst desc = event.description || '';\n\nconst nameMatch = desc.match(/Client:\\s*([^\\n]+)/);\nconst phoneMatch = desc.match(/Phone:\\s*([^\\n]+)/);\nconst serviceMatch = desc.match(/Service:\\s*([^\\n]+)/);\n\nconst clientName = nameMatch ? nameMatch[1].trim() : 'Valued Client';\nconst clientPhone = phoneMatch ? phoneMatch[1].trim() : null;\nconst service = serviceMatch ? serviceMatch[1].trim() : 'appointment';\n\nconst startTime = event.start?.dateTime || event.start?.date + 'T09:00:00';\nconst humanTime = new Intl.DateTimeFormat('en-US', {\n  timeZone: tz, weekday: 'short', month: 'short', day: 'numeric',\n  hour: 'numeric', minute: '2-digit', hour12: true\n}).format(new Date(startTime));\n\nconst tzAbbr = new Intl.DateTimeFormat('en-US', { timeZone: tz, timeZoneName: 'short' })\n  .formatToParts(new Date(startTime)).find(p => p.type === 'timeZoneName')?.value || 'ET';\n\nreturn [{\n  json: {\n    eventId: event.id,\n    clientName,\n    clientPhone,\n    service,\n    humanTime,\n    tzAbbr,\n    canSend: !!clientPhone,\n    originalDescription: desc\n  }\n}];"
      },
      "id": "22222222-0005-0005-0005-000000000005",
      "name": "Parse Event for Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "can-send-cond",
              "leftValue": "={{ $json.canSend }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-0006-0006-0006-000000000006",
      "name": "Has Phone Number",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_FROM_NUMBER }}",
        "to": "={{ $json.clientPhone }}",
        "message": "={{ 'Hi ' + $json.clientName + '! Reminder: your ' + $json.service + ' is tomorrow at ' + $json.humanTime + ' ' + $json.tzAbbr + '. Reply CANCEL to cancel or call us to reschedule. See you soon!' }}"
      },
      "id": "22222222-0007-0007-0007-000000000007",
      "name": "Send Reminder SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1680, 200],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_TWILIO_CREDENTIAL_ID",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "update",
        "calendarId": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}",
        "eventId": "={{ $('Parse Event for Reminder').first().json.eventId }}",
        "updateFields": {
          "description": "={{ $('Parse Event for Reminder').first().json.originalDescription + '\\n[REMINDER_SENT: ' + new Date().toISOString() + ']' }}"
        }
      },
      "id": "22222222-0008-0008-0008-000000000008",
      "name": "Mark Reminder Sent",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1920, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2"
        }
      }
    }
  ],

  "connections": {
    "Every Hour Trigger": {
      "main": [
        [{ "node": "Set Reminder Window", "type": "main", "index": 0 }]
      ]
    },
    "Set Reminder Window": {
      "main": [
        [{ "node": "Get Upcoming Events", "type": "main", "index": 0 }]
      ]
    },
    "Get Upcoming Events": {
      "main": [
        [{ "node": "Filter Unsent Reminders", "type": "main", "index": 0 }]
      ]
    },
    "Filter Unsent Reminders": {
      "main": [
        [{ "node": "Parse Event for Reminder", "type": "main", "index": 0 }]
      ]
    },
    "Parse Event for Reminder": {
      "main": [
        [{ "node": "Has Phone Number", "type": "main", "index": 0 }]
      ]
    },
    "Has Phone Number": {
      "main": [
        [{ "node": "Send Reminder SMS", "type": "main", "index": 0 }],
        []
      ]
    },
    "Send Reminder SMS": {
      "main": [
        [{ "node": "Mark Reminder Sent", "type": "main", "index": 0 }]
      ]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
